server:
  port: 8081

spring:
  application:
    name: user-service
  profiles:
    active: local
  
  flyway:
    enabled: true
    baseline-on-migrate: true
    
  security:
    oauth2:
      client:
        registration:
          google:
            client-id: ${GOOGLE_CLIENT_ID:dummy-client-id}
            client-secret: ${GOOGLE_CLIENT_SECRET:dummy-client-secret}
            scope: profile, email
            redirect-uri: "{baseUrl}/login/oauth2/code/{registrationId}"

jwt:
  access-token-expiration: 1h
  refresh-token-expiration: 14d

auth:
  refresh-token:
    expiration: ${jwt.refresh-token-expiration}
    cookie-name: refresh_token

management:
  security:
    enabled: false