spring:
  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver
  jpa:
    show-sql: false

jwt:
  secret: ${JWT_SECRET}
  expiration: ${JWT_EXPIRATION:3600000}

auth:
  refresh-token:
    expiration: ${REFRESH_TOKEN_EXPIRATION:1209600000}
    cookie-name: refresh_token

logging:
  level:
    com.ecommerce.user: INFO
