name: PR Unit Tests

on:
  pull_request:
    types: [ opened, synchronize, reopened, ready_for_review ]

jobs:
  unit-test:
    name: Build & Unit Tests
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 2

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Cache Gradle packages
        uses: actions/cache@v4
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
          restore-keys: |
            ${{ runner.os }}-gradle-

      - name: Grant execute permission for gradlew
        run: chmod +x ./gradlew

      - name: Build and Run Unit Tests
        run: ./gradlew clean build test -x integrationTest

      - name: Upload build artifacts
        if: github.event.pull_request.draft == false
        uses: actions/upload-artifact@v4
        with:
          name: build-artifacts-${{ github.run_id }}
          path: |
            **/build/libs/
            **/build/classes/
            **/build/test-results/test/
          retention-days: 1
